<h1>{{title}}</h1>
<p>{{content}}</p>
<b>{{notFound}}</b>
<div id="form-container">
    <form action="/commentController" method="POST">
        <label for ="input-data">Enter Youtube URL: </label><br/>
        <input type="text" name="data_url" /><br/>
        <button type="submit" name="data_url_submit">Check Data</button>
    </form>
</div>
